<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScoreWebServices.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScoreWebServices.Tests.Properties.Settings>
            <setting name="ScoreWebServices_Tests_refweb1_WebService1" serializeAs="String">
                <value>http://localhost:55684/WebService1.asmx</value>
            </setting>
            <setting name="ScoreWebServices_Tests_refweb2_WebService2" serializeAs="String">
                <value>http://localhost:55684/WebService2.asmx</value>
            </setting>
        </ScoreWebServices.Tests.Properties.Settings>
    </applicationSettings>
</configuration>