<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIWebServices.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UIWebServices.Tests.Properties.Settings>
            <setting name="UIWebServices_Tests_ref1_ApplicantDesktopWS" serializeAs="String">
                <value>http://localhost:58065/ApplicantDesktopWS.asmx</value>
            </setting>
            <setting name="UIWebServices_Tests_ref2_UnderwritterDesktopWS"
                serializeAs="String">
                <value>http://localhost:58065/UnderwritterDesktopWS.asmx</value>
            </setting>
            <setting name="UIWebServices_Tests_ref3_AdminDesktopWS" serializeAs="String">
                <value>http://localhost:58065/AdminDesktopWS.asmx</value>
            </setting>
        </UIWebServices.Tests.Properties.Settings>
    </applicationSettings>
</configuration>